<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>layuiAdmin pro - 通用后台管理模板系统（单页面专业版）</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">	
	<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
	<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
	<link rel="stylesheet" href="${request.contextPath}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
	<link rel="stylesheet" href="${request.contextPath}/statics/plugins/ztree/css/metroStyle/metroStyle.css">
	<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">
	<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
	<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
	<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
	<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
	<script src="${request.contextPath}/statics/plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="${request.contextPath}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="${request.contextPath}/statics/js/common.js"></script>
	<link rel="stylesheet" href="${request.contextPath}/statics/layui/css/layui.css" media="all">
	<script src="${request.contextPath}/statics/layui/layui.js"></script>
  
</head>
